.clanlogo{
  max-height: 44px;
  margin-right: 14px;
}
.icon-card{
  max-height: 35px;
}
.icon-card-chest{
  max-height: 75px;
}
.mat-card-title {
  font-size: 22px;
  min-height: 75px;
}
.mat-card{
  min-height: 115px;
}
