<mat-toolbar color="primary" *ngIf="clan">
  <img class="clanlogo" [src]="clan.badge.image" />
  <span>{{clan.name}}</span>
</mat-toolbar>
<div fxLayout='column' class="zero" fxLayoutGap="10px">
  <mat-card *ngIf="clan">
    <mat-card-content>
      <mat-card-title>
        {{clan.name}}
      </mat-card-title>
      <p>
        {{clan.description}}
      </p>
      <!-- <pre>{{clan|json}}</pre> -->
    </mat-card-content>
  </mat-card>
  <div fxFlex="33" fxLayout="row" fxLayout.xs="column" fxLayout.md="row" class="two" fxLayoutGap="10px">
    <div fxFlex="100">
      <mat-card class="gradient" *ngIf="clan">
        <mat-card-content>
          <mat-card-title>
            <div fxFlex="50" class="two_one">{{clan.score}}</div>
            <div fxFlex="50" class="two_one" fxLayoutAlign="end">
              <img src="assets/ui/symbols/trophy-ribbon.png" class="icon-card" />
            </div>
          </mat-card-title>
          <mat-card-subtitle>
            {{'SCORE'}}
          </mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="100">
      <mat-card class="gradient" *ngIf="clan">
        <mat-card-content>
          <mat-card-title>
            <div fxFlex="50" class="two_one">{{clan.requiredScore}}</div>
            <div fxFlex="50" class="two_one" fxLayoutAlign="end">
              <img src="assets/ui/symbols/trophy.png" class="icon-card" />
            </div>
          </mat-card-title>
          <mat-card-subtitle>
            {{'REQUIREDSCORE'}}
          </mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="100">
      <mat-card class="gradient" *ngIf="clan">
        <mat-card-content>
          <mat-card-title fxFlexAlign="center">
            <div fxFlex="50" class="two_one">{{clan.donations}}</div>
            <div fxFlex="50" class="two_one" fxLayoutAlign="end">
              <img src="assets/ui/symbols/cards.png" class="icon-card" />
            </div>
          </mat-card-title>
          <mat-card-subtitle>
            {{'DONATIONS'}}
          </mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div fxFlex="33" fxLayout="row" fxLayout.xs="column" fxLayout.md="row" class="two" fxLayoutGap="10px" fxHide.xs>
    <div fxFlex="100">
      <mat-card class="gradient" *ngIf="clan">
        <mat-card-content>
          <mat-card-title>
            <div fxFlex="50" class="two_one">{{clan.memberCount}} / 50</div>
            <div fxFlex="50" class="two_one" fxLayoutAlign="end">
              <img src="assets/ui/symbols/social.png" class="icon-card" />
            </div>
          </mat-card-title>
          <mat-card-subtitle>
            {{'MEMBER'}}
          </mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="100">
      <mat-card class="gradient" *ngIf="clan">
        <mat-card-content>
          <mat-card-title fxFlexAlign="center">
            <div fxFlex="50" class="two_one">{{clan.location.name}}</div>
          </mat-card-title>
          <mat-card-subtitle>
            {{'LOCATION'}}
          </mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="100">
      <mat-card class="gradient" *ngIf="clan">
        <mat-card-content>
          <mat-card-title>
            <div fxFlex="50" class="two_one">{{clan.clanChest.status}}</div>
            <div fxFlex="50" class="two_one" fxLayoutAlign="end">
              <img src="assets/ui/chests/clan.png" class="icon-card-chest" />
            </div>
          </mat-card-title>
          <mat-card-subtitle>
            {{'CLAN_CHEST'}}
          </mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <mat-card *ngIf="clan" class="gradient">
    <mat-card-content>
      <mat-card-title>
        Member
      </mat-card-title>
      <app-member-list></app-member-list>
    </mat-card-content>
  </mat-card>
</div>
