.mat-card-actions {
  justify-content: flex-end;
  align-content: flex-end;
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  width: 100%;
}

form {
  margin-bottom: 20px;
}

form > * {
  margin: 5px 0;
}

form .mat-radio-button {
  margin: 0 5px;
}

.badge-form{
  position: absolute;
  bottom: 45px;
  right: 0;
  img{
    height: 75px;
  }
}

.hint {
  width: 100%;
  mat-form-field {
    min-width: 49%;
  }
}
