.mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button {
  text-align: left;
}

.arena-img {
  max-height: 65px;
  animation: pulse 3s infinite;
}

.mat-form-field {
  padding-left: 24px;
  padding-right: 24px;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.10, 1.10, 1.10);
    transform: scale3d(1.10, 1.10, 1.10);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
