<mat-toolbar color="primary">
  <div fxFlex="50%" fxLayoutAlign="start">
    <a [routerLink]="['/clan']">
      <img class="clanlogo" fxFlexAlign="center" *ngIf="clanService.clan" [src]="clanService.clan.badge.image" />
      <span *ngIf="clanService.clan" fxFlexAlign="center">{{clanService.clan.name}}</span>
    </a>
  </div>
  <div fxFlex="50%" fxLayoutAlign="end" class="right">
    <a *ngIf="userService.user" fxFlexAlign="center" [routerLink]="['/event']">
      <span>
        Clan - Events
      </span>
    </a>
    <app-login  fxFlexAlign="center" *ngIf="clanService.clan" [(user)]="userService.user" (action)="login($event)"></app-login>
  </div>
</mat-toolbar>
